<div class="container">
  <div class="response-list" [@responseTransition]="responseState" (@responseTransition.done)="handleResponseTransition($event)">
    <div class="response-caption" *ngIf="convoResponse?.caption">
        <div class="response-image" *ngIf="convoResponse?.leftPicture">
          <img [src]="convoResponse?.leftPicture" class="" alt="assistant-logo">
        </div>
        <h1 class="response-text">{{ convoResponse?.caption }}</h1>
    </div>

    <div class="response-lines" *ngIf="convoResponse?.displayMultiLine">
      <p *ngFor="let line of convoResponse?.displayMultiLine">{{ line }}</p>
    </div>

    <div class="response-chips" *ngIf="convoResponse?.chips">
        <mat-chip-list class="chips-list">
          <mat-chip class="chip" selected="true" *ngFor="let chip of convoResponse?.chips" [@chip]="responseState">{{ chip }}</mat-chip>
        </mat-chip-list>
    </div>
  </div>
</div>