.white {
    color:white;
}

.light {
    font-weight:lighter;
}

.assistant-logo {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.mat-chip {
    font-size: 1.2rem;
}

.content {
    font-size: 2.5rem;
    align-self: center;
    margin-bottom: 10px;
}