<div class="container">
  <div class="response-list" [@responseTransition]="responseState" (@responseTransition.done)="handleResponseTransition($event)">
    <div class="response-caption" *ngIf="convoResponse?.caption">
      <div class="response-image" *ngIf="convoResponse?.leftPicture">
        <img [src]="convoResponse?.leftPicture" class="" alt="assistant-logo">
      </div>
      <h1 class="response-text">{{ convoResponse?.caption }}</h1>
    </div>
    <div [hidden]="convoResponse?.intent !== 'take_picture' && convoResponse?.intent !== 'cheese' && convoResponse?.intent !== 'cheese_yes'">
      <video #video style="width:100%; height:100%" autoplay [hidden]="hideVideo"></video>
      <canvas [hidden]="!hideVideo" #canvas style="width:100%;height:100%"></canvas>
      <img src="assets/io18_logo_kuala_lumpur.png" width="150" id="logo" style="display:none" />
      <div style="display: flex; flex-direction: column; align-items: center;">
        <mat-spinner style="width:20%" *ngIf="convoResponse?.intent === 'cheese_yes' && !myAngularxQrCode"></mat-spinner>
        <ngx-kjua *ngIf="myAngularxQrCode"
          [text]="myAngularxQrCode"
          [size]="200"
          ></ngx-kjua>
      </div>
    </div>
    <div class="response-lines" *ngIf="convoResponse?.displayMultiLine">
      <p *ngFor="let line of convoResponse?.displayMultiLine">{{ line }}</p>
    </div>

    <div *ngIf="convoResponse?.intent === 'request_sponsor_list'" style="padding:10px;">
      <div>
        <h2>{{convoResponse?.payload.sponsors.label}}</h2>

        <div class="logo-container">
          <div class="logo-cradle " *ngFor="let lg of convoResponse?.payload.sponsors.logos">
            <img [src]="lg" class="logo" />
          </div>
        </div>
      </div>
      <div>
        <h2>{{convoResponse?.payload.partners.label}}</h2>
        <div class="logo-container">
          <div class="logo-cradle " *ngFor="let lg of convoResponse?.payload.partners.logos">
            <img [src]="lg" class="logo" />
          </div>
        </div>

      </div>
      <div>
        <h2>{{convoResponse?.payload.fans.label}}</h2>
        <div class="logo-container">
          <div class="logo-cradle " *ngFor="let lg of convoResponse?.payload.fans.logos">
            <img [src]="lg" class="logo" />
          </div>
        </div>

      </div>
      <div>
        <h2>{{convoResponse?.payload.love.label}}</h2>
        <div class="logo-container">
          <div class="logo-cradle " *ngFor="let lg of convoResponse?.payload.love.logos">
            <img [src]="lg" class="logo" />
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="convoResponse?.intent === 'list_schedule'" style="padding:10px;">
      <table>
        <thead style="line-height:20px;font-size:1.5rem">
          <td>Time</td>
          <td>JC 1</td>
          <td>JC 3</td>
          <td>LT 5</td>
        </thead>
        <tr *ngFor="let session of convoResponse?.payload">
          <td style="font-size:1.5rem">{{session.startTime}}</td>
          <td *ngFor="let slot of session.sessions" 
          style="font-size:1.2rem;max-width:200px;word-wrap: break-word;text-align:left;padding:10px;border-bottom-style:solid;border-bottom-color:white;">{{slot.title}}</td>
        </tr>
      </table>
      <div style="display:flex;flex-direction:column;align-items: center;">
          <ngx-kjua
          [text]="'https://events.gdgkl.org/io/schedule'"
          [size]="200"
        ></ngx-kjua>
          
          <h2>https://events.gdgkl.org/io/schedule</h2>
      </div>
    </div>

    <div *ngIf="convoResponse?.intent === 'current_schedule'" style="padding:10px;">
     <div *ngIf="convoResponse?.payload?.currentSessions">
       <h2>Sessions Right Now</h2>
        <table>
            <thead style="line-height:20px;font-size:1.5rem">
              <td>Hall</td>
              <td>JC 1</td>
              <td>JC 3</td>
              <td>LT 5</td>
            </thead>
            <tr *ngIf="convoResponse?.payload.currentSessions[0]" >
                <td style="font-size:1.5rem">{{convoResponse?.payload.currentSessions[0].startTime}}</td>
                <td *ngFor="let slot of convoResponse?.payload.currentSessions[0].sessions" 
                style="font-size:1.2rem;max-width:200px;word-wrap: break-word;text-align:left;padding:10px;border-bottom-style:solid;border-bottom-color:white;">{{slot.title}}</td>
              </tr>
          </table>
     </div>
     <div *ngIf="convoResponse?.payload?.laterSessions">
        <h2>Sessions Coming Up</h2>
         <table>
             <thead style="line-height:20px;font-size:1.5rem">
               <td>Hall</td>
               <td>JC 1</td>
               <td>JC 3</td>
               <td>LT 5</td>
             </thead>
             <tr *ngIf="convoResponse?.payload.laterSessions[0]" >
                 <td style="font-size:1.5rem">{{convoResponse?.payload.laterSessions[0].startTime}}</td>
                 <td *ngFor="let slot of convoResponse?.payload.laterSessions[0].sessions" 
                 style="font-size:1.2rem;max-width:200px;word-wrap: break-word;text-align:left;padding:10px;border-bottom-style:solid;border-bottom-color:white;">{{slot.title}}</td>
               </tr>
           </table>
      </div>

      <div *ngIf="!convoResponse?.payload">
          <h1 class="response-text">There aren't any talks happening right now. Ask for the schedule instead?</h1>
      </div>
    </div>



    <div class="response-chips" *ngIf="convoResponse?.chips">
      <mat-chip-list class="chips-list">
        <mat-chip class="chip" selected="true" *ngFor="let chip of convoResponse?.chips" [@chip]="responseState">{{ chip }}</mat-chip>
      </mat-chip-list>
      <div  style="font-size:20px;margin:10px;">Psst! Sometimes if the mirror doesn't hear you, you can say "OK Google," and ask it stuff!</div>
    </div>
  </div>
</div>